/* 
 *  VARIABLES
 */
:root {
  --primary: #8d6c9f;
  --secondary: #ed7899;
  --header-bg: #fff;
  --output-bg: aliceblue;
  --user-message-bg: #ced8ed;
  --cat-message-bg: #c2cde7;
  --action-message-bg: var(--secondary);
  --action-message-color: #fff;
  --button-bg: var(--secondary);
  --button-color: #fff;
  --button-hover-bg: #cf5e7e;
  --layover-bg: aliceblue;
  --layover-li-bg: #ced8ed;
}

/* 
 *  GENERAL STYLES & UTILS
 */
* {
  box-sizing: border-box;
}

@import url('https://rsms.me/inter/inter.css');

html {
  font-family: 'Inter', sans-serif;
}

.hide {
  display: none !important;
}

/* 
 *  BASE LAYOUT
 */
main {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--header-bg);
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.output-area {
  background-color: var(--output-bg);
  flex: 1;
  padding: 20px;
  overflow: auto;
  scroll-behavior: smooth;
}

.input-area {
  height: auto;
}

/* 
 *  DESKTOP BASE LAYOUT
 */
@media (min-width: 768px) {
  body {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--primary);
  }

  main {
    position: static;
    height: 650px;
    width: 500px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 2px 3px #00000022, 1px 2px 9px #00000011;
  }
}

/* 
 *  HEADER
 */
header > div {
  font-family: Chewy;
  font-weight: 400;
  font-size: 1.8rem;
  color: var(--primary);
  flex: 1;
}

#menu-toggle {
  cursor: pointer;
}

nav svg {
  stroke: var(--primary);
}

/* 
 *  LAYOVER
 */
.layover {
  position: fixed;
  background-color: #00000099;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: grid;
  place-items: center;
}

.layover ul {
  background-color: var(--layover-bg);
  display: inline-block;
  padding: 20px;
  list-style-type: none;
  width: 200px;
  border-radius: 6px;
}

.layover ul li {
  padding: 20px;
  cursor: pointer;
  background-color: var(--layover-li-bg);
  text-align: center;
  border-radius: 6px;
  font-weight: 700;
}

.layover ul > li + li {
  margin-top: 20px;
}

/* 
 *  OUTPUT WINDOW
 */
.user-message {
  margin-top: 20px;
  background-color: var(--user-message-bg);
  padding: 20px;
  margin-left: 50px;
  position: relative;
  border-radius: 6px;
  line-height: 1.5;
}

.user-message::before {
  content: '';
  display: block;
  background-color: var(--user-message-bg);
  height: 12px;
  width: 12px;
  position: absolute;
  right: -5px;
  bottom: 10px;
  transform: rotate(45deg);
}

.cat-message {
  margin-top: 20px;
  background-color: var(--cat-message-bg);
  padding: 20px;
  margin-right: 50px;
  position: relative;
  border-radius: 6px;
  line-height: 1.5;
}

.cat-message::before {
  content: '';
  display: block;
  background-color: var(--cat-message-bg);
  height: 12px;
  width: 12px;
  position: absolute;
  left: -5px;
  bottom: 10px;
  transform: rotate(45deg);
}

.action-message {
  margin-top: 20px;
  background-color: var(--action-message-bg);
  color: var(--action-message-color);
  padding: 20px;
  margin-left: 30px;
  margin-right: 30px;
  position: relative;
  border-radius: 6px;
  line-height: 1.5;
  opacity: 0.8;
}

/* 
 *  INPUT WINDOW
 */
.input-area {
  display: flex;
  height: 48px;
}

.input-area input {
  flex: 1;
  padding: 0 20px;
  font-family: Inter;
  border: none;
}

.input-area button {
  background-color: var(--button-bg);
  color: var(--button-color);
  border: none;
  padding: 0 20px;
  font-weight: 700;
  font-family: Inter;
  cursor: pointer;
}

.input-area button:hover,
.input-area button:active {
  background-color: var(--button-hover-bg);
}
